* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

.topo-login,
.topo-home {
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bandeira {
    width: 50px;
    height: 28px;
    background: linear-gradient(to right, green 33%, white 33% 66%, red 66%);
    border: 1px solid black;
}

.menu-login a,
.menu-home a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

.imagem-login,
.imagem-cadastro {
    width: 100%;
    height: 100%;
    min-height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.area-imagem {
    width: 100%;
    height: 800px;
    background-image: url("/imagens/fundohome.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-italia {
    font-size: 250px;
    letter-spacing: 20px;
    font-family: serif;
    font-weight: 400;
}

.i-verde { color: green; }
.i-branco { color: white; }
.i-vermelho { color: red; }


.i-verde { color: green; }
.i-branco { color: white; }
.i-vermelho { color: red; }


.cultura-img {
    width: 100%;
    height: 350px;
    background-image: url("/imagens/cultura.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-login {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card-login {
    width: 430px;
    background: #2f6039;
    padding: 30px;
    border-radius: 25px;
    color: white;
    text-align: center;
}


.card-login h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.card-login label {
    display: block;
    text-align: left;
    margin-left: 38px;
    margin-top: 10px;
    font-weight: bold;
}

.card-login input {
    width: 80%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.btn-login {
    background: #653a20;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

.botao-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 60%;
}

.link-cadastro {
    display: block;
    margin-top: 15px;
    color: white;
    text-decoration: underline;
    font-size: 14px;
}

.faixa-bandeira {
    width: 100%;
    display: flex;
    height: 160px;
}

.faixa-bandeira .verde { background: green; width: 33.3%; }
.faixa-bandeira .branco { background: white; width: 33.3%; }
.faixa-bandeira .vermelho { background: red; width: 33.3%; }

.cultura-bloco {
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    font-size: 22px;
}

.cultura-bloco h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.cultura-titulo2 {
    width: 80%;
    margin: 20px auto 0 auto;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.cultura-colunas {
    display: flex;
    width: 80%;
    margin: 30px auto;
    gap: 40px;
}

.coluna {
    width: 50%;
    padding: 25px;
    border-radius: 15px;
    font-size: 20px;
}

.coluna h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

.coluna p {
    margin-bottom: 25px;
    line-height: 32px;
}

.pagina5 {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.titulo-pontos {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

.bloco-ponto {
    width: 100%;
    background: white;
    padding: 35px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 45px;
}

.img-ponto {
    width: 180px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}

.bloco-texto h2 {
    font-size: 32px;
    margin-bottom: 12px;
    font-weight: bold;
}

.bloco-texto p {
    font-size: 22px;
    margin-bottom: 8px;
    line-height: 32px;
}